
@{
    ViewData["Title"] = "Index";
}
<section id="general-reading">
<div class="container">
    <div class="row">
             <div class="col-lg-12">
            <div class="d-flex justify-content-center">
                <h2 class="text-center">Reading </h2>
            </div>
        </div>
             <div class="col-lg-12">
            <h5>Read the text</h5>
        </div>
       
             <div class="col-lg-6 reading">
                <h3>An unusual job!</h3>
                Have you seen a football match recently? If you have,
                I╆m sure that you heard lots of comments about the
                referee as well as about the players! Referees have a
                very difficult job. They have to make quick and
                important decisions in the middle of a fast-moving
                game. And, of course, there are thousands of people
                shouting at them too. The crowd is never happy when
                the ref sends off their favourite player. Also, in football
                today there still isn╆t the same technology as there is in
                other sports, like tennis. The job can get even more
                difficult when you╆re a woman who is refereeing a
                men╆s match┿
                There is no reason why there should not be the same
                number of male and female referees in the sport today.
                However, the number of female refs is still very low ‒
                particularly at the highest levels of professional
                football. This is something that one woman, Pat Dunn,
                who died in 1999, would have been very sad about.
                Pat was the first woman in the UK to referee a men╆s
                football match but she wasn╆t allowed to do this for a
                long time┻ Pat was a strong supporter of women╆s
                rights in sport and became President of the Ladies╆
                Football Association in 1969. Then she decided to train
                to be a referee. For a long time the Football Association
                refused to give her a certificate although she had
                passed the exams. But Pat continued fighting and she
                finally got permission in 1976. The next month she
                became famous when she refereed her first official FA
                game. Pat became a very good and successful referee
                and even saved a footballer╆s life. She helped him when
                he was injured during a match!
                Today there are some famous female referees, like
                Bibiana Steinhaus from Germany who has just
                refereed the final of the Women╆s Football World Cup┻
                Bibiana decided to become a referee at the age of 16
                and later was the first female referee in the German
                men╆s professional league┻ But there are only a few like
                her.
                Football is still mainly a men╆s game ‒ both for players
                and referees. But for how long? Will we see more
                women referees in the future╂ We╆d like to know what
                YOU think. So, please go online and leave a comment
                on our website┻ We╆ll print the most interesting ones
                in the magazine next week.
            </div>
             <div class="col-lg-6">
                 <div class="row">
                     <div class="col-lg-6">
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>1.</span>The article is from a magazine.
                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">True</label>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">False</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>2.</span>The writer says that women are better
                                 referees than men.
                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">True</label>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">False</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>3.</span>Pat Dunn is still alive today.
                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">True</label>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">False</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>4.</span> Pat didn╆t get her referee certificate
                                 immediately.
                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">True</label>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">False</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>5.</span>Bibiana Steinhaus played in a football final.
                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">True</label>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">False</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>6.</span> Referees have a difficult job because...

                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they need to run fast.</label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">the players shout at them. </label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they have to think quickly.</label>
                         </div>

                     </div>
                     <div class="col-lg-6">
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>7.</span> Referees have a difficult job because...

                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they need to run fast.</label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">the players shout at them. </label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they have to think quickly.</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>8.</span> Referees have a difficult job because...

                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they need to run fast.</label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">the players shout at them. </label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they have to think quickly.</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>9.</span> Referees have a difficult job because...

                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they need to run fast.</label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">the players shout at them. </label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they have to think quickly.</label>
                         </div>
                         <div class="reading-quesition">
                             <h4 class="mt-0">
                                 <span>10.</span> Referees have a difficult job because...

                             </h4>
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they need to run fast.</label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">the players shout at them. </label><br />
                             <input type="radio" id="1" name="1" value="1">
                             <label for="1">they have to think quickly.</label>
                         </div>
                         
                     </div>
                 </div>
              
            </div>
        </div>
    </div>
</section>

