
@{
    ViewData["Title"] = "Index";
}
<section id="trial" class="mt-10">

    <div class="container">
        <div class="row">
            <div class="col-md-9 blog-pull-right">
                <div class="row">
                    <div class="col-lg-4 mt-10" style="height:200px">
                        <div class="item" style="height:100%">
                            <div class="campaign bg-white maxwidth500 " style="height:100%">
                                <div class="thumb ">
                                    <a href="#">
                                        <h3 class="text-center mt-3 mb-0">General English Trial</h3>
                                    </a>
                                    <div class="text-center">
                                        <a class="btn btn-general mt-10" asp-controller="General" asp-action="Index"> Take Test </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-10" style="height:200px">
                        <div class="item" style="height:100%">
                            <div class="campaign bg-white maxwidth500 " style="height:100%">
                                <div class="thumb ">
                                    <a href="#">
                                        <h3 class="text-center mt-3 mb-0"> IELTS Trial</h3>
                                    </a>
                                    <div class="text-center">
                                        <a class="btn btn-general mt-10" asp-controller="Ielts" asp-action="Index"> Take Test </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-10" style="height:200px">
                        <div class="item" style="height:100%">
                            <div class="campaign bg-white maxwidth500 " style="height:100%">
                                <div class="thumb ">
                                    <a href="#">
                                        <h3 class="text-center mt-3 mb-0">TOEFL Trial</h3>
                                    </a>
                                    <div class="text-center">
                                        <a class="btn btn-general mt-10" asp-controller="Toefl" asp-action="Index"> Take Test </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-10" style="height:200px">
                        <div class="item" style="height:100%">
                            <div class="campaign bg-white maxwidth500 " style="height:100%">
                                <div class="thumb ">
                                    <a href="#">
                                        <h3 class="text-center mt-3 mb-0">SAT Trial</h3>
                                    </a>
                                    <div class="text-center">
                                        <a class="btn btn-general mt-10" asp-controller="General" asp-action="Index"> Take Test </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="sidebar sidebar-left mt-sm-30">

                    <div class="widget">
                        <h5 class="widget-title line-bottom">Latest <span class="text-theme-color-2">Course</span></h5>
                        <div class="latest-posts">
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a class="post-thumb" href="#"><img src="~/assets/images/services/s1.jpg" alt=""></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>
                                    <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a class="post-thumb" href="#"><img src="~/assets/images/services/s3.jpg" alt=""></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>
                                    <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a class="post-thumb" href="#"><img src="~/assets/images/services/s2.jpg" alt=""></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>
                                    <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
