
<!DOCTYPE html>
<html dir="ltr" lang="en">
<!-- Mirrored from html.kodesolution.live/s/studypress/v6.0/demo/index-mp-layout10.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Jan 2021 17:35:59 GMT -->
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description"
          content="Fusion | Language Courses" />
    <meta name="keywords"
          content="ielts, general, toefl, education html theme, elearning, learning," />
    <meta name="author" content="ThemeMascot" />


    <!-- Page Title -->
    <title>Fusion | Language Courses </title>

    <!-- Favicon and Touch Icons -->

    <link href="~/assets/images/fusion-logo-approved.jpg" rel="shortcut icon" type="image/jpg" />
    <!-- Stylesheet -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins"
          href="~/assets/css/menuzord-skins/menuzord-rounded-boxed.css"
          rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/assets/css/style-main.css" rel="stylesheet" type="text/css" />
    <!-- CSS | Preloader Styles -->
    <link href="~/assets/css/preloader.css" rel="stylesheet" type="text/css" />
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/assets/css/custom-bootstrap-margin-padding.css"
          rel="stylesheet"
          type="text/css" />
    <!-- CSS | Responsive media queries -->
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="~/assets/css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/assets/js/revolution-slider/css/settings.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/assets/js/revolution-slider/css/layers.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/assets/js/revolution-slider/css/navigation.css"
          rel="stylesheet"
          type="text/css" />

    <!-- CSS | Theme Color -->
    <link href="~/assets/css/colors/theme-skin-color-set-1.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/assets/css/general.css"
          rel="stylesheet"
          type="text/css" />

    <!-- external javascripts -->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/assets/js/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="~/assets/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    @RenderSection("LinksHome", false)

</head>
<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <div class="preloader-dot-loading">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">
                Disable Preloader
            </div>
        </div>

        <!-- Header -->
        @await Component.InvokeAsync("Header")
        @RenderBody()
        <!-- Footer -->
        @await Component.InvokeAsync("Footer")


        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/assets/js/custom.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript"
            src="~/assets/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
  
    <script  src="~/assets/js/main.js"></script>
    @RenderSection("ScriptsHome", false)
</body>

 </html>
