
@{
    ViewData["Title"] = "Index";
}
<section id="test" class="mt-10 mb-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center">
                    <h2 class="text-center">Grammar and Vocabulary</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <h4>Choose the correct answers</h4>
            </div>

            <div class="col-lg-6">

                <div class="test">
                    <h5><span>1.</span>____you intereted in sport?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br />
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">Am </label> <br />
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label> <br />
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label>

                </div>
                <div class="test mt-3">
                    <h5><span>2.</span>My____is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">aunt</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">uncle </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> mother</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> sister</label><br>

                </div>

                <div class="test mt-3">
                    <h5><span>3.</span>We live in the city centre and our house ____ have a big garden.</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">doesn't</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">isn't </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3">aren't</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">don't</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>4.</span>There ____ a lot of people outside the school. What's the problem?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">are</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">is </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> be</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">am</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>5.</span>Cathy ____ a game on her computer at the moment.</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">plays</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">is playing </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> to play</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">play</label><br>

                </div>
                <div class="test">
                    <h5><span>6.</span>Paul is very ____. He doesn't go out a lot.</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">bored</label><br>
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">confident </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> angry</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> shy</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>7.</span>____ you like to come out with us tonight?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Do</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Would </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Are</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">Will</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>8.</span>Dad's ____ work right now. He's a teacher.</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">on</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">at </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> for</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">by</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>9.</span>Did you ____ shopping after school yesterday?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">went</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">goed </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> going</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">go</label><br>

                </div>
                <div class="test mt-3">
                    <h5>
                        <span>10.</span>There wasn't ____ milk for breakfast this morning so I had toast and orange juice.
                    </h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">a</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">some</label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3">the</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">any</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>11.</span>I ____ five emails before school today.</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">sent</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">sended </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> did send</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">was send</label><br>

                </div>
                <div class="test">
                    <h5><span>12.</span>Turn ____ and you'll see the museum on the left.</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">on the right</label><br>
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">rightly </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> by the right</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">right</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>13.</span>The beach was very crowded ____ Monday</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">in</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">on</label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3">at</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4">to</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>14.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>15.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>16.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>17.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test">
                    <h5><span>18</span>....you intereted in sport?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>19.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>20.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>21.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>22.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>23.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>

                <div class="test mt-3">
                    <h5><span>24.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>25.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="test">
                    <h5><span>26</span>....you intereted in sport?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>27.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>28.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>29.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>30.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>31.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test">
                    <h5><span>32</span>....you intereted in sport?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>33</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>34.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>35.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>36.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>37.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test">
                    <h5><span>38</span>....you intereted in sport?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>39.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>40.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>41.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>42.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>43.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test">
                    <h5><span>44</span>....you intereted in sport?</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="1">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>45.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>46.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>47.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>48.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>
                <div class="test mt-3">
                    <h5><span>49.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>

                <div class="test mt-3">
                    <h5><span>50.</span>My....is a writer and his books are very popular</h5>
                    <input type="radio" id="1" name="1" value="1">
                    <label for="1">Be</label><br>
                    <input type="radio" id="2" name="1" value="2">
                    <label for="2">Am </label><br>
                    <input type="radio" id="3" name="1" value="1">
                    <label for="3"> Is</label><br>
                    <input type="radio" id="4" name="1" value="1">
                    <label for="4"> Are</label><br>

                </div>

            </div>
            <div class="col-lg-12 text-center mt-10">
                <a asp-controller="GeneralReading" asp-action="Index" class="btn  btn-test btn-lg">Yadda saxlayın və Mətinə keçin</a>
            </div>
        </div>
    </div>
</section>


