
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 blog-pull-right">
                <div class="row">

                        @await Component.InvokeAsync("Course",1)
                   
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="sidebar sidebar-left mt-sm-30">
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Search <span class="text-theme-color-2">Courses</span></h5>
                        <div class="search-form">
                            <form>
                                <div class="input-group">
                                    <input type="text" placeholder="Click to Search" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Course <span class="text-theme-color-2">Categories</span></h5>
                        <div class="categories">
                            <ul class="list list-border angle-double-right">
                                <li><a href="#">Creative<span>(19)</span></a></li>
                                <li><a href="#">Portfolio<span>(21)</span></a></li>
                                <li><a href="#">Fitness<span>(15)</span></a></li>
                                <li><a href="#">Gym<span>(35)</span></a></li>
                                <li><a href="#">Personal<span>(16)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Latest <span class="text-theme-color-2">Course</span></h5>
                        <div class="latest-posts">
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a class="post-thumb" href="#"><img src="~/assets/images/services/s1.jpg" alt=""></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>
                                    <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a class="post-thumb" href="#"><img src="~/assets/images/services/s3.jpg" alt=""></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>
                                    <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a class="post-thumb" href="#"><img src="~/assets/images/services/s2.jpg" alt=""></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>
                                    <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Photos <span class="text-theme-color-2">from Flickr</span></h5>
                        <div id="flickr-feed" class="clearfix">
                            <!-- Flickr Link -->
                            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>