
@{
    ViewData["Title"] = "Index";
}

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: home -->
    <section id="general">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">
                        <h1 class="text-center">Online English level test</h1>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">
                        <p>
                            Bu onlayn səviyyə testi İngilis dili bilik səviyyənizin təxmini göstəricisini verəcəkdir.
                            Nəticəni  Grammar, Vocabulary və Reading testlərinin nəticələrini testin sonunda görəcəksiniz.
                            Ümumi nəticəniz isə sepaking yoxlandıqdan sonra sizə admin tərəfindən əlaqə saxlanılaraq veriləcəkdir!
                            Bizi seçdiyiniz üçün təşəkkürlər!
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">
                        <h3 style="color:#00843d;">
                            Online səviyyə testi haqqında
                        </h3>
                        <ul class="test-intro">
                            <li>Bu Test 35 dəqiqə çəkəcək</li>
                            <li>
                                Birinci hissə gramatika və lüğət səviyyənizi yoxlayan 50 sualdan ibarətdir
                                
                            </li>
                            <li>İkinci hissədə isə oxuma və anlama qabilliyətinizi yoxlayan mətin və ona əsaslanan suallar vardır</li>
                            <li>Və nəhayyət sonda isə danışıq bacarığınızın yoxalanılması üçün bir neçə suallar veriləcəkdir</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center text-center">

                        <a class=" btn btn-lg btn-test mt-10" asp-controller="GeneralTest" asp-action="Index">Testə Başla</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<!-- end main-content -->
